$def with (lista)
<h1>Lista de Personas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        $for id, persona in lista.personas.items():
            <tr>
                <td>$persona.nombre</td>
                <td>$persona.telefono</td>
                <td>
                    <a href="/detalle_persona/$id" class="btn btn-info">Ver</a>
                    <a href="/editar_persona/$id" class="btn btn-warning">Editar</a>
                    <a href="/borrar_persona/$id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
    </tbody>
</table>